.update_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
}
.update_box{
    width: 400px;
    min-height: 300px;
    background-color: rgba(22, 1, 1, 0.384);
    border-radius: 5px;
    /* z-index: auto; */
    backdrop-filter: blur(3px);
    
}
.update_box .login_form{
    position: absolute;
    content: '';
    border-radius: 50px 5px;
    
    padding: 50px 40px;
    color: #00ccff; 
    
}
.update_box .input_text{
    width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #00ccff;
      font-size: 20px;
      padding-left: 10px;
      color: #00ccff;

}
.update_box .input_group{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.update_box #login_button{
    
    position: relative;
      width: 300px;
      height: 40px;
      transition: 1s;
      margin-top: 48px;
}
.update_box h5:hover{
    cursor: pointer;
    font-size: 22px;
}
.closebutton{
    position: absolute;
    bottom: 280px;
    left: 330px;
}