@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
.register-box {
  position: absolute;
  top: 60%;
  left: 78%;
  width: 400px;
  padding: 50px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.795);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(36, 36, 36, 0.671);
  border-radius: 10px;
}

.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  font-size: 150%;
  text-transform:uppercase ;
  color: #12d4ee;
  text-align: center;
}

.logo h1
{
    max-width: 7em;
    color: #ffffff;
margin: 0;
font-size: 13vh;
margin-top: 15%;
margin-left: 10%;
font-weight:bolder;
line-height: 1.2;
}

.register-box .user-box1 {
  position: relative;
  
}


.register-box .user-box1 input {
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: #00eeff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}
.register-box .user-box1 label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}
.register-box .user-box1 input:focus ~ label,
.register-box .user-box1 input:valid ~ label {
  top: -20px;
  left: 0;
  color: #e7f2f3;
  font-size: 12px;
}
.register-box h3{
  text-align: center;
  /* text-size: ; */
  color: white;
  padding-top: 50px ;
}


.register-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}



.register-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: #00eeff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s;
  margin-top: 0px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  background-color: #030303;
  border: 0px;
}

.register-box button:hover {
  background: #030303;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 5px #00eeff,
              0 0 25px #00eeff,
              0 0 50px #00eeff,
              0 0 100px#00eeff;
}
body{
  background-image: url("../asserts/libback.jpg");
  background-size:cover ;
  /* background-position: center; */


}
.closebutton{
  color: #ffffff;
}
